.navbar {
  background-color: #fff;
  height: 6rem;
  padding: 0 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 3rem;
}

.title {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
}

.navList {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navLink:hover {
  opacity: 0.5;
}

.icon {
  color: #0290ff;
  width: 2rem;
  height: 2rem;
}
