@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.booksCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loading-container {
  width: 100%;
  height: calc(100vh - 15rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #0290ff;
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;

  &::before,
  &::after {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid #0290ff;
    border-radius: 100%;
    animation: spinLeft 800ms linear infinite;
  }

  &::after {
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid #0290ff;
    animation: none;
  }
}

@keyframes spinLeft {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

@keyframes spinRight {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
